:root {
    --todoBackgroundColor: rgb(244, 208, 255);
    --doingBackgroundColor: rgb(193, 112, 189);
    --doneBackgroundColor: rgb(136, 57, 151);
}

.backgroudpicture {
    background-image: url("photo/backpicture.jpg");
}

.modal-header {
    color: black;
    background-color: var(--todoBackgroundColor);
}

.modal-body {
    background-color: var(--todoBackgroundColor);
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

#taskListArea {
    margin: 50px auto;
    width: 90vw;
    height: 60vh;
    background-color: var(--todoBackgroundColor);
    border-radius: 16px;
}

#pendingArea {
    margin: auto;
    margin-top: 70px;
    width: 90%;
    height: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

#todoTitle {
    width: 33.333%;
    background-color: var(--todoBackgroundColor);
    border-radius: 16px 8px 0px 0px;
}

#doingTitle {
    width: 33.333%;
    background-color: var(--doingBackgroundColor);
    border-radius: 8px 8px 0px 0px;
}

#doneTitle {
    width: 33.333%;
    background-color: var(--doneBackgroundColor);
    border-radius: 8px 16px 0px 0px;
}

.assignToBox>div>a {
    border-radius: 12px;
    background-color: red;


}

.listTask {
    background: #F2EAF5;
    border: 1px solid rgba(215, 189, 226, 0.32);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.listPriority {
    background: #F24A4A;
    border: 1px solid rgba(215, 189, 226, 0.32);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

.titleColour {
    background-color: blue;
    box-sizing: border-box;

    background: #F2EAF5;
    border: 0px solid rgba(215, 189, 226, 0.32);


}

.titleText {
    margin-top: 22px;
    text-align: center;
}

.taskListTitle {
    display: inline-flex;
    width: 100%;
    height: 80px;
}

.taskListText {
    font-size: 8px;
    margin-left: 0px;
    margin-top: 2px;
}

.taskForm-title {
    margin-left: auto;
}

.btn {
    border-radius: 20px !important;
}

.css-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    margin: 4px 2px;
    border-radius: 20px;
}

.css-button2 {
    background-color: #ffff00;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    margin: 4px 2px;
    border-radius: 20px;
}

.css-button3 {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5px;
    margin: 4px 2px;
    border-radius: 20px;
}

.css-button:focus,
.css-button2:focus,
.css-button3:focus {
    border: 2px solid #0022ff;
}